.main-nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;


  @media (min-width: 768px) {
    padding: 0 40px;
    margin: 0 auto;

  }

  @media (min-width: 1440px) {

    margin: 0 auto;
    padding-bottom: 25px;

    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
  }
}


.main-nav__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;

  @media (min-width: 768px) {
    width: 670px;
    align-items: flex-start;
    text-align: left;

  }

  @media (min-width: 1440px) {
    width: 1020px;
    margin: 0px;
    padding: 0px;
    margin-left: 250px;


  }
}

.main-nav__wrapper li {
  margin: 0;
  padding: 0;
}

.main-nav__list {
  @media (min-width: 1440px) {
    width: 970px;
    display: flex;
    justify-content: space-between;
    width: 975px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;

  }
}

.main-nav__logo img{
  width: 96px;
  height: 15px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  margin-left: px;


  @media (min-width: 768px) {
    width: 165px;
    height: 40px;
    display: block;
  margin: 0 auto;
  margin-top: 35px;
  margin-left: 45px;


  }

  @media (min-width: 1440px) {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: 120px;

  }
}

.main-nav__toggle {
 margin: 0 auto;
  width: 25px;
  height: 20px;
  margin-top: -20px;
    margin-left: 270px;


  background-color: #cccccc;
  cursor: pointer;
  border: none;

  @media (min-width: 768px) {
    position: absolute;
    top: 35px;
    right: 375px;

  }

  @media (min-width: 1440px) {
    position: absolute;
    width: 45px;
    height: 2px;
    top: 30px;
    background-color: #192144;

  }
}
