.main-top {
  padding-left: 25px;
  padding-right: 25px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  background-image: url('../img/globe-back-mobile.png');
  background-color: #161c36;
  background-size: auto;
  background-position: top 0px center;
  background-repeat: no-repeat;


  @media (min-width: 768px) {
    padding: 0 25px;
    margin: 0 auto;
    background-image: url('../img/globe-back-tablet.png');


    background-position: top 280px center;
    background-repeat: no-repeat;

  }

  @media (min-width: 1440px) {
    width: 1320px;
    padding: 0 60px;
    margin: 0 auto;

  }
}
