.page-header {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 auto;
  text-transform: uppercase;
  background-color: #182044;

}

  .site-list__item a {
    color: #192144;
    text-decoration: none;
  }

  .contacts__item a {
    color: #192144;
    text-decoration: none;
  }
