.user-list2 {
  width: 189px;
  height: 40px;
  border-radius: 20px;
  background-color: #ffd74b;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 250px;
  margin-left: 80px;

}

.user-list2 a {
  text-decoration: none;
  color: #192144;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.user-list2__item {
  padding-top: 5px;
}
